[Unit]
Description=Installer Shell
Requires=initrd-root-fs.target
After=initrd-root-fs.target

OnSuccess=reboot.target
OnSuccessJobMode=replace-irreversibly
OnFailure=rescue.target
OnFailureJobMode=replace-irreversibly

[Service]
Type=idle
ExecStart=/usr/sbin/installer.sh
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
TTYReset=yes
TTYVHangup=yes
IgnoreSIGPIPE=no
SendSIGHUP=yes
